/* ----------------------------------- */
/*          RESET                      */
/* ------------------------------------*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

fieldset {
    border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: "Karla", sans-serif;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 39.6875rem;
    padding-block: 4.5rem;
    padding-inline: 2rem;
}

header {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main {
    color: white;
}

.main-title {
    font-size: 1.25rem;

    text-align: start;

    color: hsl(179, 62%, 43%);
}

.sub-title {
    font-size: 0.9375rem;
    margin-block-start: 1rem;
    color: hsl(71, 73%, 54%);
}

.primary-content {
    font-size: 0.875rem;
    line-height: 1.8;
    margin-block-start: 1rem;
    color: #9AA7BE;
}

.terms {
    display: block;

}

.period {
    color: hsla(0, 0%, 100%, 0.6);
}

.header-content {
    padding-block: 1.75rem;
    padding-inline: 1.5rem;
}

.sign-up-content {
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
}

.sign-up-content {
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
}

.sign-up-btn {
    display: block;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    margin-block-start: 2.2rem;
    line-height: 4;
    text-decoration: none;
    color: white;
}

.about-us-title {
    font-size: 1.125rem;
}

.about-us-list {
    margin-top: .5rem;
}

.sign-up-title {
    font-size: 1.125rem;
}

main {
    color: white;
}

.sign-up-container {
    background-color: hsl(179, 62%, 43%);
}

.about-us {
    background-color: hsl(179, 62%, 43%);
    opacity: 0.7;
}

.secondary-content {
    font-size: 1rem;
}


.about-us-container {
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    grid-row-gap: 2%;
    padding-bottom: 5%;
}

.hero a {
    text-decoration: none;
    font-size: small;
    color: white;
    margin-left: 5%;
}

.currency-amt {
    font-size: 2rem;
}

.dim-font {
    opacity: 0.7;
}

footer a {
    text-decoration: none;
}

.sign-up-container:hover {
    opacity: 0.9;
}

.sign-up-container {
    border-bottom-left-radius: 0;
}

.sign-up-container a {
    line-height: 3;
}


@media only screen and (min-width: 650px) {
    .container {
        padding-block: 10.1875rem;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-title {
        font-size: 1.5rem;
    }

    .sub-title {
        font-size: 1.125rem;
    }

    .primary-content {
        font-size: 1rem;
    }

    .sign-up-content {
        padding-inline: 1.5rem;
        padding-block: 2.5rem;
    }

    .about-us-container {
        padding-inline: 1.5rem;
        padding-block: 2.5rem;
    }
}